 @import '../../.cache/wal/colors-waybar.css';
 * {
    font-family:"noto sans nerd font"; 
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    transition-duration: .5s;
    border-radius: 10px;
}

#workspaces {
  /* padding-right: 4px;
   padding-left: 4px; */
   font-weight: bold;
   background: @background;
   margin-top: 2px;
   margin-bottom: 2px;
}

#workspaces button {
   color: @color2;
   padding: 0px;
   font-weight: bold;
}

#workspaces button.empty {
   color: @foreground;
   font-weight: bold;
}

#workspaces button.active {
   /* background: @color1;  */
   color: @color1;
   border-radius: 0px;
   font-weight: bold;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#custom-power,
#custom-spotify,
#custom-logo,
#custom-cava,
#custom-picker,
#custom-weather,
#custom-screen-shot,
#custom-notification {
   padding: 0 10px;
   padding-top: 0px;
   padding-bottom: 0px;
   /* background: @foreground; */
    color: @foreground;
    margin-top: 2px;
    margin-bottom: 2px;
}

#clock {
    background-color: @background;
    border-radius: 0px;
   /* margin-top: 4px;
    margin-bottom: 4px; */
    font-weight: bold;
}

#cpu {
    font-weight: bold;
    border-radius: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: @color1;
}

#memory {
    font-weight: bold;
    border-radius: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: @color1;
}

#network {
	  color: @color1;
	  background-color: @background;
	  border-radius: 0px;
         /* margin-top: 4px;
          margin-bottom: 4px; */
          font-size: 14px;
} 

 #network.disconnected {
   /* background-color: #f53c3c; */
} 

#pulseaudio {
    color: @color1;
    background-color: @background;
    border-radius: 0px 0px 0px 0px;
   /* margin-top: 4px;
    margin-bottom: 4px; */
    font-weight: bold;
    font-size: 14px;
}

#pulseaudio.muted {
    color: #24273a;
}

#tray {
   background-color: @background;
   border-radius: 0px;
   margin-bottom: 2px;
   margin-top: 2px;
   padding: 0px 10px;
   padding-top: 3px;
   padding-bottom: 3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
   /* background-color: #eb4d4b; */
}

#language {
    background-color: @background; 
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
   /* margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px; */
}

#custom-power {
    background-color: #343F44;
    color: #A7C080;
    border-radius: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3px;
}

#custom-spotify {
    background-color: #292c3c;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#custom-logo {
    color: @color1;
    font-weight: bold;
   /* border-radius: 0px; */
    margin-left: 2px; 
   /* margin-top: 4px; 
    margin-bottom: 4px; */
    background: @background;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
}

#window {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    background: @background;
    color: @foreground;
}

#custom-cava {
  /* margin-top: 4px;
   margin-bottom: 4px; */
   border-radius: 0px;
   background: @background;
   color: @color1;
   min-height: 0px;
}

#custom-separator {
	background: @background;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #49464f;
}

#custom-notification {
	color: @color1;
	margin-right: 4px;
	background: @background;
	border-radius: 0px 10px 10px 0px;
	font-size: 14px;
}

#custom-picker {
        color: @color1;
}

#custom-playerctl-forward,
#custom-playerctl-play,
#custom-playerctl-backward {
	padding: 0 5px;
}

#custom-playerctl-forward,
#custom-playerctl-backward {
	color: @color1;
}

#custom-playerctl-play {
	color: @foreground;
}

#custom-weather {
	color: @color1;
	font-weight: bold;
}

#custom-screen-shot {
	color: @color1;
}
