 @import '../../.cache/wal/colors-waybar.css';
 * {
    font-family:"JetBrainsMono nerd font"; 
    font-size: 13px;
}

window#waybar {
    background-color: @color1;
    transition-duration: .5s;
   /* border: 2px solid @color10; */
    border-radius: 0px;
}

.modules-left {
	background-color: @background;
	padding: 0px 0px 0px 0px;
}


.modules-right {
	background-color: @background;
	padding: 0px 0px 0px 0px;
}

#tags {
  /* padding-right: 4px;
   padding-left: 4px; */
   font-weight: Bold;
}

#tags button {
  color: @foreground;
  padding: 0px;
}


#tags button.focused {
    background: @color1;
    border-radius: 0px;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#custom-power,
#custom-spotify,
#custom-logo,
#custom-cava {
    padding: 0 10px;
    padding-top: 0px;
    padding-bottom: 0px;
   /* background: @foreground; */
    color: @foreground;
}

#clock {
    background-color: @background;
    border-radius: 0px;
   /* margin-top: 4px;
    margin-bottom: 4px; */
    font-weight: bold;
}

#cpu {
    font-weight: bold;
    border-radius: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

#memory {
    font-weight: bold;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#network {
	  background-color: @background;
	  border-radius: 5px 0px 0px 5px;
         /* margin-top: 4px;
          margin-bottom: 4px; */
} 

 #network.disconnected {
   /* background-color: #f53c3c; */
} 

#pulseaudio {
    background-color: @background;
    border-radius: 0px 0px 0px 0px;
   /* margin-top: 4px;
    margin-bottom: 4px; */
    font-weight: bold;
}

#pulseaudio.muted {
    color: #24273a;
}

#tray {
   background-color: @background;
   border-radius: 0px;
  /* margin-bottom: 3px;
   margin-top: 4px; */
   padding: 0px 10px;
   padding-top: 3px;
   padding-bottom: 3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
   /* background-color: #eb4d4b; */
}

#language {
    background-color: @background; 
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
   /* margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px; */
}

#custom-power {
    background-color: #343F44;
    color: #A7C080;
    border-radius: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
}

#custom-spotify {
    background-color: #292c3c;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#custom-logo {
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
  /*  margin-left: 4px; 
    margin-top: 4px; 
    margin-bottom: 4px; */
    background: @background;
}

#window {
    font-weight: bold;
  /*  margin-top: 4px;
    margin-bottom: 4px; */
    background: @color1;
    color: @foreground;
}

#custom-cava {
  /* margin-top: 4px;
   margin-bottom: 4px; */
   border-radius: 0px 5px 5px 0px;
   font-weight: bold;
   background: @background;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @background;
        margin-top: 4px;
	margin-bottom: 4px;
}
