configuration {
    drun-display-format: "{icon} {name}";
    show-icons: false;
    display-drun: " ";
    display-run: " ";
    display-filebrowser: " ";
    display-window: " ";
    modi: "drun,run,window,filebrowser";
    location: 2;
}

@theme "~/.config/rofi/theme.rasi"
